body{
	padding: 0;
	text-align: center;
	color: black;
	background-color: black;
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: hidden;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    background-image: url(assets/s3xy.jpg);
    background-size: cover;
    background-attachment: fixed;  
}

#button {
	background-color: black;
	border-radius: 28px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}
#button:hover {
	background-color: white;
	border: 1px solid black;
	color: black;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 1000px) {

	body{

		background-image: url();
		background-color: white;

	}

}