body {
	padding: 0;
	text-align: center;
	color: white;
	background-color: black;
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: hidden;
}

footer {
	color: white;
	background-color: black;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

#label1 {
	position: relative;
	right: 160px;
}

#label2 {
	position: relative;
	right: 60px;
}

#label3 {
	position: relative;
	left: 5px;
}

#label4 {
	position: relative;
	left: 145px;
}

#currency {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
	width: 201px;
}

#saving {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
}

#saved {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
}

#vat {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
	width: 201px;
}

#model {
	display: none;
}

#model3_options {
	display: none;
}

#modely_options {
	display: none;
}

#color {
	display: none;
}

#tires {
	display: none;
}

#other {
	display: none;
}

#but {
	background-color: #ffffff;
	border-radius: 28px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}
#but:hover {
	background-color: black;
	border: 1px solid white;
	color: white;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 900px) {
	footer {
		display: none;
	}

	body {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	#currency {
		display: none;
	}

	#vat {
		display: none;
	}

	#labe1l {
		display: none;
	}

	#label2 {
		position: relative;
		bottom: -15px;
		right: -40px;
	}

	#label3 {
		position: relative;
		left: -120px;
		bottom: -90px;
	}

	#label4 {
		display: none;
	}
}
